<mat-progress-bar mode="indeterminate" *ngIf="loaderZrzut" color="accent" class="loaderZrzut"></mat-progress-bar>

<div id="zrzutKolazu" #zrzutKolazu>

</div>
<button *ngIf="zrzutKolazuZrobiony" mat-icon-button (click)="zamknijZrzut()" id="zamknijZrzut" matTooltip="zamknij">
       <mat-icon style="color:white">close</mat-icon>
</button>
<button *ngIf="zrzutKolazuZrobiony && !loaderDownloader" mat-icon-button (click)="pobierzZrzut()" id="pobierzZrzut" matTooltip="pobierz ({{rozmiarKolazu}}x{{rozmiarKolazu}}px)">
       <mat-icon style="color:white">file_download</mat-icon>
</button>
<mat-spinner *ngIf="zrzutKolazuZrobiony && loaderDownloader" id="loaderDownloader" diameter="24" color="accent"></mat-spinner>

<div id="glownyWrapper" (mouseup)="imgDoPrzesuniecia = undefined">
<mat-toolbar id="toolsy" class="mat-elevation-z10">
       <h1><!--Super<br/>Zaawansowany<br/>-->Generator Kolaży<br/>"Cyklistator"</h1>
       
       <mat-divider></mat-divider>

       <div class="malyToolbar" style="margin-bottom:16px;">
              <span>kolor paszportu:</span>
              <ngx-colors ngx-colors-trigger [(ngModel)]="color" acceptLabel="OK" cancelLabel="Anuluj"></ngx-colors>
       </div>

       <div class="malyToolbar">
              <mat-form-field class="example-form-field">
                     <mat-label>Grubość (px)</mat-label>
                     <input matInput type="number" step="1" min="0" max="50" [(ngModel)]="gruboscPaspartu">
              </mat-form-field>

              <mat-form-field class="example-form-field">
                     <mat-label>Rozmiar (px)</mat-label>
                     <input matInput type="number" step="1" min="500" max="2000" [(ngModel)]="rozmiarKolazu" (change)="zmianaGornegoMarginesuKolazu()">
              </mat-form-field>
       </div>       

       <h3 style="margin-top:-16px;">przesuwanie</h3>
       <div class="malyToolbar">
              <button mat-icon-button (click)="ustawPrzesuwanie(true,true)" matTooltip="we wszystkich kierunkach">
                     <mat-icon [color]="przesuwaniePion && przesuwaniePoziom ? 'accent':''">open_with</mat-icon>
              </button>
              <button mat-icon-button (click)="ustawPrzesuwanie(true,false)" matTooltip="tylko w pionie">
                     <mat-icon [color]="przesuwaniePion && !przesuwaniePoziom ? 'accent':''">swap_vert</mat-icon>
              </button>
              <button mat-icon-button (click)="ustawPrzesuwanie(false,true)" matTooltip="tylko w poziomie">
                     <mat-icon [color]="!przesuwaniePion && przesuwaniePoziom ? 'accent':''">swap_horiz</mat-icon>
              </button>
       </div>
       <mat-divider></mat-divider>
       <h3 style="margin-bottom: 10px;">szablony</h3>
       <div class="wyborKolazy">
              <div *ngFor="let sz of szablony" (click)="wybierzKolaz(sz)">
                     <div [ngClass]="sz">
                            <div *ngFor="let pz of parametryZdjec; index as i"></div>
                            <!--<div [ngStyle]="{'border':(sz === 'maleNaDuzym') ? '2px solid #9FA8DA' : 'none' }"></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>-->
                     </div>
              </div>
       </div>

       <button mat-raised-button color="primary"(click)="wyczyscZdjecia()" class="szerokiBtn mat-elevation-z0" >wyczyść zdjęcia</button>
       <button mat-raised-button color="accent" (click)="zrobZrzut()" class="szerokiBtn mat-elevation-z0">zrup żut</button>

</mat-toolbar>
<div id="paspartuWrapper">

       <div id="paspartu" #paspartu [ngStyle]="{'padding': gruboscPaspartu+ 'px','width':rozmiarKolazu+'px','height':rozmiarKolazu+'px','background-color':color}" [ngClass]="{'mat-elevation-z6':!zrzutKolazuZrobiony}">

              <div id="kolaz" [ngStyle]="{'gap': gruboscPaspartu+ 'px'}" [ngClass]="wybranySzablon">


                     <div (drop)="onFileDroped($event,img)" (dragover)="stopujZapobiegaj($event)" (dragleave)="usunPrzezroczystosc($event)"
                     (mouseup)="mouseUp(pz)"
                     *ngFor="let pz of parametryZdjec; let i = index"                     
                     [ngStyle]="utowrzNgStyle(wybranySzablon,i,gruboscPaspartu,color)">
                     <!--
                     [ngStyle]="(wybranySzablon === 'maleNaCzterech' && i==4) ? {'margin-top':'calc(-75% - '+(gruboscPaspartu)+'px)'} : {'':''}"
                     
                     [ngStyle]="(wybranySzablon === 'maleNaCzterech' && i!=4) ? {'width':'calc(50% - '+(gruboscPaspartu/2)+'px)','height':'calc(50% - '+(gruboscPaspartu/2)+'px)'} : {'':''}"
                     
                     [ngStyle]="((wybranySzablon === 'maleNaDuzym' && i==1) || (wybranySzablon === 'maleNaCzterech' && i==4)) ? {'border':gruboscPaspartu+'px solid '+color} : {'border':'none'}"
                     -->

                            <input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event,img)" #fileUpload>
                            
                            <button *ngIf="pz.url!=''" mat-icon-button [matMenuTriggerFor]="menu" class="menuObrazkaBtn">
                                   <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                   <button mat-menu-item (click)="fileUpload.click()">wybierz inne</button>
                                   <button mat-menu-item (click)="wysrodkujZdjecie(img)">wyśrodkuj</button>
                                   <button mat-menu-item (click)="skalujZdjecie(img)">skaluj</button>
                                   <button mat-menu-item (click)="dopasujZdjecie(img,'pion')">dopasuj w pionie</button>
                                   <button mat-menu-item (click)="dopasujZdjecie(img,'poziom')">dopasuj w poziomie</button>
                                   <button mat-menu-item [matMenuTriggerFor]="menuFiltry">filtry</button>
                            </mat-menu>
                            <mat-menu #menuFiltry="matMenu" xPosition="before">
                                   <button mat-menu-item (click)="wyczyscFiltryZdjecia(img)">usuń filtry</button>
                                   <button mat-menu-item *ngFor="let f of filtry" (click)="filtrujZdjecie(img,pz.zastosowaneFiltry,f.nazwa)">{{f.nazwaWysw}}</button>
                            </mat-menu>
                            
                            <div class="dodajObraz" *ngIf="pz.url==''" (click)="fileUpload.click()" matRipple
                            matTooltip="kliknij lub przesuń w to pole zdjęcie z menedżera plików" matTooltipPosition="above">
                                   <button mat-icon-button>
                                          <mat-icon>add</mat-icon>
                                   </button>
                            </div>

                            <img id="{{pz.id}}" #img [src]="pz.url" draggable="false"
                            (mousedown)="pz.mouseDown=true;kursoryPoczatkowe(img.offsetTop,img.offsetLeft);mouseDown(pz)"
                            (mouseup)="pz.mouseDown=false" (mouseout)="pz.mouseDown=false"/>

                            <canvas #canvas></canvas>

                     </div>

              </div>
       </div>
</div>
</div>

<router-outlet></router-outlet>